.container {
    width: 400px;
}

.screen {
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    font-size: 30px;
    text-align: right;
    background: #432849;
    color: rgb(190, 137, 237);

}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 80px;
    border: 1px solid rgb(11, 9, 12);
    outline: 0;
    color: white;
    background: #2d2d2f;
    cursor: pointer;
    font-size: 25px;
}

.color {
    background: rgb(20, 106, 106);
    color: rgba(100, 158, 238, 0.796);
    font-weight: bold;
}

.twoCol {
    width: 200px;
    background: rgb(15, 37, 50);
}